admin.matamune.4nk.eu {
    reverse_proxy admin:5173
}

api.matamune.4nk.eu {
    reverse_proxy backend:8000
}

chat.matamune.4nk.eu {
    reverse_proxy librechat:3080
}

chat-admin.matamune.4nk.eu {
    reverse_proxy librechat-admin:3000
}

mcp.matamune.4nk.eu {
    @authorized header X-MCP-API-Key {$MCP_API_KEY}
    handle @authorized {
        reverse_proxy mcp:8000
    }
    respond 401
}

flower.matamune.4nk.eu {
    reverse_proxy flower:5555
}

matamune.4nk.eu {
    redir https://admin.matamune.4nk.eu{uri}
}
