HOST=0.0.0.0
PORT=3080
MONGO_URI=mongodb://mongo:27017/LibreChat
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=Rick&Morthy_Vanilla_Deca_1978
OPENAI_API_KEY=user_provided
JWT_SECRET=Rick&Morthy_Vanilla_Deca_1978
JWT_REFRESH_SECRET=c87453af9d74f1aa8c8b8053572372859372d26ea0db5633b27a1e4158e92f68
CREDS_KEY=fad76165463863c26f6368e3901b94e0b423a3886dc8789986d7a9eec53adda1
CREDS_IV=9e36bdde417089cf9a6eeb833a3b73d2

# Domains and admin panel
DOMAIN_CLIENT=https://chat.matamune.4nk.eu
DOMAIN_SERVER=https://chat.matamune.4nk.eu
ADMIN_PANEL_URL=https://chat-admin.matamune.4nk.eu/admin

# User system
ALLOW_REGISTRATION=false
ALLOW_PASSWORD_RESET=true
ALLOW_UNVERIFIED_EMAIL_LOGIN=true

# Email (Resend SMTP)
EMAIL_FROM=matamune@moja-ia.eu
EMAIL_FROM_NAME=LibreChat
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=587
EMAIL_ENCRYPTION=starttls
EMAIL_USERNAME=resend
EMAIL_PASSWORD=<resend-api-key>
